<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="enableSimpleMembership" value="true" />
  <add key="Culture" value="vi-VN" />
  <add key="Home_ProductNew_Type" value="Product" />
  <add key="Home_ModuleHome_Type" value="Article" />
  <add key="Home_Highlight_Type" value="project" />
  <add key="Home_ModuleHome" value="7,8,14" />
  <add key="PageSize" value="12" />
  <add key="MinYear" value="1970" />
  <add key="Domain" value="JMT2016" />
  <add key="Home_Highlight" value="2,3,4,5,6" />
  <add key="LicenseKey" value="F9EA71A8-3F98-4D2C-A27E-E029E4972809" />
</appSettings>
